* {
  position: relative;
  box-sizing: border-box;
}

#app-main {
  padding: 0;
}

.btn {
  position: relative;
  overflow: hidden;

  input {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}

.btn:active, .btn.active {
  opacity: 0.8;
  transition: .2s;
}

.btn:focus,.btn:active {
  outline: none !important;
}

.form-control:focus {
  box-shadow: none;
}

@import "mixins";
@import "animations";
@import "../src/components/image_loader/image_loader";
@import "../src/components/movie_list/movie_list";
@import "../src/components/nav_bar/nav_bar";
@import "../src/components/uploader/upload_form";