.img-thumbnail {
  height: 240px;
  @include centerBackground();
  transition: none;
  box-shadow: inset 0 0 0 5px rgb(255, 255, 255);
  margin: 5px 5px 5px 0;
  @include flex-box(column, center, center);
  padding: 0;
  background-color: #b7b7b7;

  .circle-container {
    background: rgba(0,0,0,0.8);
    border-radius: 140px;
    width: 110px;
    height: 110px;
    @include flex-box(column, center, center);
  }

  .btn {
    @include flex-box(column, center, center);
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0.9;
    transition: opacity .2s;
    font-size: 12px;
    line-height: 24px;

    &:hover {
      opacity: 1;
    }
  }

  .upload-icon {
    font-size: 30px;
  }
}